In [1]:
import pandas as pd
import json

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
with open('./business_units.json', 'r') as f:
  data = json.load(f)['data']

In [3]:
df = pd.json_normalize(data)

In [4]:
df = df[(df.lob != 'BHAG') & (df.lob != 'Company') ]['unit']

In [11]:
for i in df:
    print(i)

Cloud Hawking
Cloud Hubble
Cloud da Vinci
Club Ada
Club Adams
Club Aletta
Club Almeida
Club Babbage
Club Curie
Club Dekker
Club Gladys
Club Grace
Club Hamilton
Club Jemison
Club Kilburn
Club Koolhaas
Club Murray
Club Newton
Club Sheffield
Club Somerville
Club Sparck
Club Turing
Club Wangari
Club Woods
Consulting Cannon
Consulting Franklin
Global Operations
Link BU Success
Link Client Success
Link People & Process Connect
Public Sector
Tenzing Europe
Tenzing London
Tenzing S&Y
Tenzing USA
Tenzing W&NW

In [10]:
for i in df:
    print('BUSINESS_UNIT#'+ i.upper().replace(' ','_'))

BUSINESS_UNIT#CLOUD_HAWKING
BUSINESS_UNIT#CLOUD_HUBBLE
BUSINESS_UNIT#CLOUD_DA_VINCI
BUSINESS_UNIT#CLUB_ADA
BUSINESS_UNIT#CLUB_ADAMS
BUSINESS_UNIT#CLUB_ALETTA
BUSINESS_UNIT#CLUB_ALMEIDA
BUSINESS_UNIT#CLUB_BABBAGE
BUSINESS_UNIT#CLUB_CURIE
BUSINESS_UNIT#CLUB_DEKKER
BUSINESS_UNIT#CLUB_GLADYS
BUSINESS_UNIT#CLUB_GRACE
BUSINESS_UNIT#CLUB_HAMILTON
BUSINESS_UNIT#CLUB_JEMISON
BUSINESS_UNIT#CLUB_KILBURN
BUSINESS_UNIT#CLUB_KOOLHAAS
BUSINESS_UNIT#CLUB_MURRAY
BUSINESS_UNIT#CLUB_NEWTON
BUSINESS_UNIT#CLUB_SHEFFIELD
BUSINESS_UNIT#CLUB_SOMERVILLE
BUSINESS_UNIT#CLUB_SPARCK
BUSINESS_UNIT#CLUB_TURING
BUSINESS_UNIT#CLUB_WANGARI
BUSINESS_UNIT#CLUB_WOODS
BUSINESS_UNIT#CONSULTING_CANNON
BUSINESS_UNIT#CONSULTING_FRANKLIN
BUSINESS_UNIT#GLOBAL_OPERATIONS
BUSINESS_UNIT#LINK_BU_SUCCESS
BUSINESS_UNIT#LINK_CLIENT_SUCCESS
BUSINESS_UNIT#LINK_PEOPLE_&_PROCESS_CONNECT
BUSINESS_UNIT#PUBLIC_SECTOR
BUSINESS_UNIT#TENZING_EUROPE
BUSINESS_UNIT#TENZING_LONDON
BUSINESS_UNIT#TENZING_S&Y
BUSINESS_UNIT#TENZING_USA
BUSINESS_UNIT#TENZING_W&NW